@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 24px;
    color: #1B1C21;
    font-weight: normal;
    font-family: 'TT Lakes';
    margin: 0;
    background-color: #F8F8F8;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
}
li {
    list-style-type: none;
}
ul,
li {
    margin: 0;
    padding: 0;
}
.container {
    overflow: hidden;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
@media screen and (min-width: 1120px) {
    .container { max-width: 1120px; margin: 0 auto; }
}
/* ------------HEADER---------------------------------------------------- */
.header__menu {
    display: flex;
}
.header--underline {
    border-bottom: 1px solid #D9FFF5;
}
.header__container {
    margin: 0px auto;
    padding: 18px 0;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}
.menu__list-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 320px;
}
.list-left__item {
    margin-left: 16px;;
}
.list-right .list-left__item:last-child {
    margin-right: 16px;;
}
.list-left--decor-line::after {
    content: '';
    display: block;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background: #EAEAEA;
}
.menu__list-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 88px;
    max-width: 320px;
    margin-left: auto;
}
.list-right__item {
    margin-right: 16px;
}
.list-right__item:nth-child(3) {
    margin-right: 0;
}

.list-right__item:nth-child(4)::before {
    content: '';
    display: inline-flex;
    align-items: center;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background: #EAEAEA;
    margin: 0 0 0 20px;
}
@media screen and (max-width: 767px) {
    .list-left__item--decor-line { display: none }
    .list-right__item--decor-line { display: list-item }
    .list-right--hiddend { display: none }
}
@media screen and (min-width: 768px) {
    .menu__list-left { max-width: 768px; }
    .menu__list-right { max-width: 768px; }
    .list-right__item:last-child { margin-right: 40px }
}
@media screen and (min-width: 1120px) {
    .header {display: none;}
}
@media screen and (min-width: 768px) and (max-width: 1119.9px) {
    .list-left__item:nth-child(1)::after {
        content: '';
        display: inline-flex;
        align-items: center;
        height: 32px;
        width: 2px;
        border-radius: 1px;
        background: #EAEAEA;
        margin: 0 0 0 20px;
    }
}
/* ------------MAIN-TITLE---------------------------------------------------- */
.main {
    background-color: #F8F8F8;
}
.main__title {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.6px;
    margin: 0 16px;
    align-items: center;
}
.main__container--leftbordered {
    display: flex;
    align-items: center;
    padding-top: 24px;
}
.main__container--leftbordered::before {
    content: '';
    display: block;
    height: 40px;
    width: 8px;
    border-radius: 4px;
    background: #41F6D7;
    margin-left: -4px;
}
.main__title-list {
    display: flex;
    margin-left: auto;
}
.title-list__link {
    display: flex;
    align-items: center;
    margin-right: 32px;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.title-list__link-title {
    margin-right: 8px;
}
@media screen and (max-width: 1119.9px) {
    .main__title-list { display: none }
}
/* ------------MAIN-NAVIGATION---------------------------------------------------- */
.main__navigationMenu {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 24px;
    margin-left: 16px;
}
.main__navigationMenu::-webkit-scrollbar {
    display: none;
}
.navigationMenu__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 40px;
}
.navigationMenu__item {
    padding: 5px 14px;
}
.navigationMenu__link {
    height: 24px;
    font-family: "TT Lakes Medium";
    color: #7E7E82;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.2px;
    white-space: nowrap;
    line-height: 30px;
}
.navigationMenu__item:hover {
    border: 2px solid #B8FFEC;
    background-color: #F8F8F8;
    border-radius: 6px;
    padding: 3px 12px;
}
@media screen and (min-width: 768px) {
    .main__navigationMenu { margin-top: 32px; margin-left: 24px; }
}
@media screen and (min-width: 1120px) {
    .main__navigationMenu { overflow: hidden; margin-top: 8px; margin-left: 32px; }
    .navigationMenu__item--hiddend-second { display: none; }
}
@media screen and (max-width: 1119.9px) {
    .navigationMenu__item--hiddend { display: none; }
    .navigationMenu__list { flex-wrap: nowrap; }
}
/* ------------MAIN-TEXT---------------------------------------------------- */
.info__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info__text {
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 24px 16px 0px 16px;
    width: 288px;
    height: 90px;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .info__text { width: 312px; height: 160px; line-height: 20px; margin: 32px 0px 0px 24px; }
    .info__container { flex-direction: row; flex-wrap: nowrap; }
}
@media screen and (min-width: 1120px) {
    .info__text { width: 490px; max-height: 160px; line-height: 20px; margin: 19px 0px 0px 34px; }
}
/* ------------MAIN-BUTTON---------------------------------------------------- */
.info__button {
    margin: 16px 0px 0px 24px;
}
.button__item {
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
}
.button__arrow {
    margin-left: 8px;
}
.button__text {
    margin-left: 16px;
}
@media screen and (min-width: 768px) {
    .info__button { margin: 10px 0px 0px 33px; }
}
@media screen and (min-width: 1120px) {
    .info__button { margin: 13px 0px 0px 40px; }
}
/* ------------MAIN-IMAGE---------------------------------------------------- */
.info__image {
    margin: 16px 0px 35px 0px;
}
.info__image {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .info__image { margin: 24px 40px 0px 48px; border-radius: 6px; min-width: 320px; max-width: 450px; }
}
@media screen and (min-width: 1120px) {
    .info__image { margin: 19px 28px 0px 36px; border-radius: 6px; max-width: 531px; }
}
/* ------------E-N-D---------------------------------------------------- */
